  <%- include('../partials/header') %>
 <% if (user) { %>
  <br><br>

 <h2> Add To The Plan:</h2>  
<form action="/plans" method= "POST">
<div class="plan-table-container">
    <table class="plan-table">
   <tr>
      <th>What needs to happen?</th>
      <th>By when?</th>
      <th>By who?</th>
      <th>Add To Plan</th>
      </tr>
       <tr>
      <td><input type ="text" name="what" required></td>
      <td><input type ="date" name="when" required></td>
      <td><input type ="text" name="who" required></td>
      <td><button type="submit">Add</button>
      </table>
      <% } %>
     
<%- include('../partials/footer') %>