<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel='stylesheet' href='/stylesheets/style.css' />
 
</head>
<body>
 <nav>
   
  <% if (user) { %>

    <a href="/home">HOME</a> |
    <a href="/plans">YOUR PLAN</a> |
    <a href="/thoughts">YOUR THOUGHTS</a> |
    <a href="/logout">LOG OUT</a>
  <% } else { %>
  
    <a href="/auth/google" class="login">LOG IN&nbsp;</a>
  <% } %>
</nav>
  <main>
 