 <%- include('./partials/header') %>
   <% if (user) { %>
   <title><%= title %></title>
   <br>
   
  <img src="/images/SSbanner.png" alt="Banner Image" class="SS-banner-logo">
   <h3 class="home-h3"> Where you take the lead in shaping your own future. </h3>
   <br>
   <br>
   <p> Support Sphere is your safe and 
   empowering space to connect, grow, and 
   take charge of your Social Care journey. 
   
   <br><br>
   
   This space is specifically designed for 
   incredible young people like you, 
   who want to have a stronger voice in your
   own support network.
   </p>
   <br><br>
<p>
Here at Support Sphere, we believe that
 your thoughts, feelings, and dreams matter. <br>
 We understand that navigating the world of
 Social Care can sometimes feel overwhelming
  or uncertain, but we're here to change that.
  </p>
  <br><br>
  <p>
  This platform is all about giving you the tools,
   resources, and opportunities to access 
   your support plan, express yourself,
    and be heard.</p>
 
    <% } %>
<%- include('./partials/footer') %>