 <%- include('./partials/header') %>
   <title><%= title %></title>
   <br>
   
   <h2>Welcome to Your Support Sphere </h2>
   <br>
   <br>
   <p> This is a place for you......</p>
<%- include('./partials/footer') %>