 <%- include('./partials/header') %>
   <title><%= title %></title>
   <br>
   
   <h2>Welcome to My Support Sphere! </h2><br>
   <h3> Where you take the lead in shaping your own future. </h3>
   <br>
   <br>
   <p> My Support Sphere is your safe and 
   empowering space to connect, grow, and 
   take charge of your social care journey. 
   <br>
   This space is specifically designed for 
   incredible young people like you, 
   who want to have a stronger voice in your
   own support network.
   <br>

Here at My Support Sphere, we believe that
 your thoughts, feelings, and dreams matter. 
 We understand that navigating the world of
 Children's Services can sometimes feel overwhelming
  or uncertain, but we're here to change that.
  <br>
  This platform is all about giving you the tools,
   resources, and opportunities to access 
   your support plan, express yourself,
    and be heard.</p>
  
<%- include('./partials/footer') %>