 <%- include('./partials/header') %>
   <% if (user) { %>
   <title><%= title %></title>
   <br>
   
  <img src="/images/SSbanner.png" alt="Banner Image" class="SS-banner-logo">
   <h3 class="home-h3"> Where you take the lead in shaping your own future. </h3>
   <br>
   <br>
   <p>   
   This space is specifically designed for 
   incredible young people like you, 
   who want to have a stronger voice in your
   own support network.
   </p>
   <br><br>
<p>
Here at Support Sphere, we believe that
 your thoughts, feelings, and dreams matter.
 

    <% } %>
<%- include('./partials/footer') %>