<!DOCTYPE html>
<html>
  <head>
    <title> My Support Sphere</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Support Sphere</h1>
    <p>Welcome to......</p>
 
