  <%- include('./partials/header') %>
  <br><br>

 <h2> Add a New Action:</h2>  
<section id="newTask">
<form action="/plans" method= "POST">
<table>
   <tr>
      <th>What needs to happen?</th>
      <th>By when?</th>
      <th>By who?</th>
      <th>Add To Plan</th>
      </tr>
       <tr>
      <td><input type ="text" name="what" required></td>
      <td><input type ="date" name="when" required></td>
      <td><input type ="text" name="who" required></td>
      <td><button type="submit">Add</button>
      </table>
     
<%- include('./partials/footer') %>