body {
  padding: 30px;
  font-family: 'Jost', sans-serif;
  font: 14px;
  background-color: #ffffff;
  text-align: center;
  
}


nav {
  color: #437d21;
  text-align: right;
  
}

/* Home Page */

.SS-banner-logo{
  border: 5px #437d21 solid;
  border-radius: 15px;

}

.home-h3{
color: #437d21;;
}


/*  Plan Page */

.SS-plan-image{
  border: 5px #437d21 solid;
  border-radius: 15px;
}


/*  Add to Plan Page */

.SS-addToPlan-image{
  border: 5px #437d21 solid;
  border-radius: 15px;

}


/* Thoughts Page */

.SS-thoughts-header-image{
  border: 5px #437d21 solid;
  border-radius: 15px;
}

.thoughts-page-h3{
  color: #437d21;
}



a {
color: #00AB66;

}

/* h2{
  color:black;
} */

h3{
  text-align: center;
  color: #00AB66;
}

table {
  border-collapse: collapse;
  width: 65%;
  margin: 0 auto;
  border-color: #00AB66;
}

th, td {
  /* border: 1px solid black; */
  padding: 8px;
  text-align: center;
}

td input[type="text"] {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Jost', sans-serif;
}

td input[type="date"] {
  border: none;
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Jost', sans-serif;
}

input[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #00AB66;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for animation */
}

input[type="submit"]:hover {
  background-color: #8cc751;
  transform: scale(1.1); /* Add scaling animation on hover */
}


th {
  background-color: #f2f2f2;
}

th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea, 
select{
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  font-family: 'Jost', sans-serif;
}

select {
  width: 5%;
  box-sizing: border-box;
  padding: 5px;
  text-align-last: center;
}

table.thoughts-log{
  width: 30%;
 float: left;
}

button {
  font-family: 'Jost', sans-serif;
  background-color: #00AB66;
}

p {
  border: 1px solid #ccc;
  border-radius: 35px; 
  padding: 15px; 
  background-color: #F5F5F5;
  border-color: #00AB66;
  /* width: 50%; */
  min-width: 70%;
  display:flex;
  justify-content: center;
  align-items: center;
  }

/* Form styles */
form {
  margin: 20px auto;
  width: 75%;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F5F5F5;
    border-radius: 10px;
    display: flex; 
  flex-direction: column; 
  align-items: center; 
} 


/*  animations */
button,
select {

  transition: transform 0.3s ease;
}

button:hover,
select:hover {
  transform: scale(1.1);
  background-color: #8cc751;
}


/* Media query for smaller screens */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }

  button,
  select {
    font-size: 16px;
    background-color: #00AB66;
  }
}

/* Thoughts log styles */
.thoughts-log {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: #F5F5F5;
}

.thoughts-log th,
.thoughts-log td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
}

.thoughts-log th {
  background-color: #00AB66;
  color: #fff;
}

.thoughts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.updateGoingWell {
  font-size: 1px;
}
.rounded-box {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 15px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.date-content {
  padding: 5px 10px; 
  width: fit-content;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #F5F5F5;;
  border-radius: 5px;
}

/* animations */
button,
select {
  transition: transform 0.3s ease;
}

button:hover,
select:hover {
  transform: scale(1.1);
  background-color: #8cc751;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .rounded-box {
    padding: 10px;
  }}

  textarea {
    font-size: 16px;
  }

select {
  width: 20%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto;
  min-height: 40px; 
}


/*  plan-section container */
.plan-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
    padding: 20px;
  border-radius: 15px;

  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/*  plan-table */
.plan-table-container {
  overflow-x: auto; /* Add horizontal scroll if needed */
}

.plan-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
}


.plan-table th,
.plan-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
 background-color: #F5F5F5;
}

.plan-table th {
  background-color: #00AB66;
  /* color: black; */
}

/* 'Add To Plan' button */
.plan-table-container a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.plan-table-container button {
  padding: 10px 20px;
  /*background-color: #00AB66;*/
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  flex: 1;
margin: 10px;


}

.plan-table-container button:hover {
  background-color: #8cc751;
  transform: scale(1.1);
  color: black;
}


#complete {
 font-size: 18px;
  background-color: #00AB66;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#complete:hover {
  transform: scale(1.5);
  background-color: #8cc751;
}


#newTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;;
  padding: 20px;
  border-radius: 10px;
   width: 80%;
  max-width: 800px;
  margin: 0 auto;}




#newTask table {
  width: 100%;
   border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
}

#newTask th,
#newTask td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
}

#newTask th {
  background-color: #00AB66;
  color: black;
}


#newTask button {
  padding: 10px 20px;
   color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px;
}




